@font-face {
  font-family: 'GT Super Display Light';
  src: url('GT-Super-Display-Light.otf');
}

@font-face {
  font-family: 'GT Super Display Light Italic';
  src: url('GT-Super-Display-Light-Italic.otf');
}

body{
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#ffffff;
}

::selection {
  background: #FFE06A; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFE06A; /* Gecko Browsers */
}

a.ts-button {
  display: inline-block;
  border: 2px solid black;
  font-family: "Helvetica";
  font-weight:bold;
  text-transform: uppercase;
  padding:.8em 1.2em;
  margin-right:1em;
  position: relative;
  margin-top: 30px;
  letter-spacing:.3em;
  font-size: 14px;
}


a.ts-button:hover{
  color:#ffffff;
    background:#000000;
}



.nav {
  display: flex;
  justify-content: space-between;
  padding:2em;
  position: fixed;
  left:0;
  right:0;
}

.imagelayerframe {
  width:50%;
  height:100%;
  position:absolute;
  right:0;
}
.imagelayer{
  position:absolute;
  top: 50%;
  left: 40%;
  transform:translate(-50%,-50%);
  height:60vw;
  width:60vw;
  max-height:800px;
  max-width:800px;
}

.imagelayer img {
  width:100%;
  height:auto;
}

.hero-text {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  margin-left:2vw;
}

.hero-text h1 {
  font-size: 11vw;
  line-height: 1;
  font-family: "GT Super Display Light";
  font-weight: 100;
  margin:0;
  letter-spacing: -.05em;
  margin-bottom: .3em;
  width:70vw;
}

h1 em {
  font-family: "GT Super Display Light Italic";
  font-style: normal;
}

.hero-text h1 span {
  display: inline-block;
}

.hero-text h1 .underline {
  width:100%;
  height:auto;
  position: absolute;
  bottom:-.1em;
}

.animated-underline:before {
  content: "";
  display: block;
  width:100%;
  height:.2em;
  background-image: url("markerstroke.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position:absolute;
  bottom:-.2em;
  -webkit-mask-image: url("https://d33wubrfki0l68.cloudfront.net/d319533ac3d22c3186498254e0caee871796a29e/d7ce9/images/css/masking/image-mask.png");
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 100% 75%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-mode: alpha;
}



@media only screen and (min-width: 1280px)  {
  .hero-text h1 {
    font-size: 145px;
    width:1000px;
  }
}